{%- macro icon(value) -%}
{%- if value == "ga" -%}
✅
{%- elif value == "not-available" -%}
❌
{%- elif value == "not-applicable" -%}
➖
{%- elif value == "tech-preview" -%}
𝐓
{%- else %}
{%- endif -%}
{%- endmacro %}
{% macro title(feature) -%}
{%- if 'link' in feature and feature['link'] -%}
[{{ feature['name'] }}]({{ feature['link'] }})
{%- else -%}
{{ feature['name'] }}
{%- endif -%}
{%- endmacro -%}
{#- Collect all unique notes for footnotes -#}
{%- set unique_notes = {} -%}
{%- set note_counter = namespace(value=1) -%}
{%- for feature in features -%}
{%- for lang in [".NET", "Java", "Node.js", "PHP", "Python", "Android", "iOS"] -%}
{%- if feature[lang]['notes'] is defined and feature[lang]['notes'] -%}
{%- if feature[lang]['notes'] not in unique_notes -%}
{%- set _ = unique_notes.update({feature[lang]['notes']: note_counter.value}) -%}
{%- set note_counter.value = note_counter.value + 1 -%}
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- endfor -%}

| Feature | .NET | Java | Node.js | PHP | Python | Android | iOS |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: |
{%- for feature in features %}
| {% if feature.is_sub_feature %}{{ title(feature) }}{% else %}**{{ title(feature) }}**{% endif %} | {% for lang in [".NET", "Java", "Node.js", "PHP", "Python", "Android", "iOS"] %}{{ icon(feature[lang]['status']) }} {% if feature[lang]['min_version'] %}{{ feature[lang]['min_version'] }}+{% endif %}{% if feature[lang]['notes'] is defined and feature[lang]['notes'] %}[^{{ unique_notes[feature[lang]['notes']] }}]{% endif %} | {% endfor %}
{%- endfor %}

**Legend:**

* ✅ Generally available
* 𝐓 In technical preview
* ➖ Not applicable
* ❌ Not available
{% if unique_notes %}
{% for note, num in unique_notes.items() %}
[^{{ num }}]: {{ note }}
{% endfor %}
{%- endif %}