{
 :allowed-branchname-matches ["main"]
 :allowed-filename-matches ["docs/"] ;; Need to check if wildcards work. Separate multiple folders as follows ["folder/" "folder2"]
 :use-gh-statuses false
 :guidance-profile "a5004e01-d057-4190-86b2-ac1ed8a0dc8c" ;; Profile ID for "Elastic" (supplied by Acrolinx)
 :ignored-filetypes ["mod" "sum" "go" "txt"]
 
 :template-header
 "

## Acrolinx Scorecards 
 
Select the total score link to review all feedback on clarity, consistency, tone, brand, terms, spelling, grammar, readability, and inclusive language. _You should fix all spelling errors regardless of your total score_. Fixing spelling errors helps maintain user trust in overall content quality.

| Article | Total score<br>(Required: 80) | Words + phrases<br>(Brand, terms) | Correctness<br>(Spelling, grammar) | Clarity<br>(Readability) |
|---------|:--------------:|:--------------------:|:------:|:---------:|
"

 :template-change
 "| ${s/status} ${s/file} | [${acrolinx/qualityscore}](${acrolinx/scorecard}) | ${acrolinx/scores/words_and_phrases} | ${acrolinx/scores/correctness} | ${acrolinx/scores/clarity} |
"
 
 :template-footer
 "
**TBD*
"
}