/* ---- Features Table ------ */

table.features-table {
    min-width: unset !important;
    max-width: 43rem;
}


table.features-table th {
    min-width: unset !important;
}

table.features-table td.s {
    min-width: 45px;
}

table.features-table th.r {
    height: 60px;
    white-space: nowrap;
    border-left: none;
}
  
table.features-table th.r > div {
    transform: 
        translate(7px, -2px)
        rotate(315deg);

    border-bottom: 1px solid #ccc;
    min-width: 70px;
    text-align: start;
}

table.features-table th.f {
    vertical-align: bottom;
    text-align: left;
}

table.features-table .sub {
    padding-left: 3em;
}

table.features-table .bold {
    font-weight: bold;
}

table.features-table td.f {
    width: 100%;
}

table.features-table th.l {
    width: 100%;
    border: unset;
}

table.features-table .s {
    max-width: 45px;
}

table.features-table div.xs {
    font-size: x-small;
}

table.features-table td.s {
    padding: unset !important;
    text-align: center;
}

table.features-table td.b {
    border-right: 1px solid #eeebee;
    min-width: 38px !important;
    max-width: 38px;
}

table.features-table th.l > div {
    display: flex;
    justify-content: space-between; /* Distributes items evenly */
    width: 100%;
    flex-direction: row;
}

table.features-table th.l > div > div {
    flex: 1; /* Allows items to grow equally */
    text-align: center; /* Centers text within each item */
    padding: 5px; /* Adjust padding as needed */
  }

  /* Tooltip container */
table.features-table .tooltip {
    position: relative;
    //display: inline-block;
    cursor: help;
}

/* Tooltip text */
table.features-table .tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    right: 0;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
table.features-table .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* ------------------------ */


/* Compatibility Table ------------- */

table.compatibility th,td {
    text-align: center;
    min-width: auto;
}


/* ------------------------ */
