name: Generate markdown snippets

on:
  pull_request:
    types: 
      - opened
      - synchronize
    paths:
      - 'docs/**'

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          cd docs/gen_edot_col_components
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Generate Markdown Snippets
        run: |
          cd docs
          make generate
      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
          git add .
          
          # Only commit if there are changes
          if ! git diff --cached --quiet; then
            git commit -m "chore: fixed generated markdown snippets"
            git push origin HEAD:${{ github.head_ref }}
          else
            echo "No changes to commit"
          fi
